<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imgUrl" [alt]="recipe.name" class="img-fluid img-thumbnail">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown" appDropdown>
            <button type="button" 
            data-toggle="dropdown" 
            class="btn btn-primary dropdown-toggle"
            id="dropdownBtn">
                Manage recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownBtn">
                <a href="#" class="dropdown-item">To shopping list</a>
                <a href="#" class="dropdown-item">Edit recipe</a>
                <a href="#" class="dropdown-item">Delete recipe</a>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingridients
    </div>
</div>